.end{
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.616);
    margin-left: 2px !important;
    margin-top: 50px !important;
    /* background: transparent; */
}
.end-col{
    width: 100%;
    height: 100%;
    /* background-color: antiquewhite; */
}
.enx-col{
    width: 100%;
    height: 100%;
}
.decem-text{
    font-size: 3rem;
    text-align: center;
    margin-top: 30px !important;
    font-weight: bold;
}
.with{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: -20px !important;

}
.dis{
    color: orangered;
}
.sale{
    font-size: 1.5rem;
    padding-left: 100px;
    margin-top: -30px;
    /* text-align: center; */
    font-weight: 400;
}
.fifty{
    font-size: 3rem;
    font-weight: 700;
    color: orangered;
}
.upto{
    font-size: 1.5rem;
    padding-left: 100px;
    margin-top: -30px;
    /* text-align: center; */
    font-weight: 400;
}
.shop-btn{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background-color: orangered;
    border: none;
    color: white;
}
.shop-btn:hover{
    background-color: black;
    color: orangered;
    /* margin-left: 200px; */
}
.stro23{
    width: 100%;
    height: 500px;
}
